<!DOCTYPE html>
<html ng-app="olinbaja">
  <head>	
  	<meta charset="utf-8">
    <title>Olin Baja</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  	<link rel="stylesheet" href="../css/main.css"/>
  </head>
  <body>
    <div class="nav-bar">
      <ul>
        <li ng-show="!loggedIn"><a href="/auth/google" target="_self">Login</a></li>
        <li ng-show="loggedIn"><a href="/auth/google">Logout</a></li>
      </ul> 
    </div>
  	<div ng-view></div>
  </body>
</html>
